* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(to top left, #ff9966 0%, #ff5e62 100%);
}

.container {
	background-color: black;
	box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	width: 50vw;
	border-radius: 15px;
	padding: 50px;
}

.container .setup {
	margin: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	color: cadetblue;
}
.container .punchline {
	margin: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	color: cadetblue;
}

.container span {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: green;
}

.container button {
	padding: 10px;
	margin: 30px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: red;
	background-color: white;
	border-radius: 10px;
	border: 2px solid cadetblue;
}

button:hover {
	background-color: #ff5e62;
	color: black;
}
